language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t gorantemp69/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true gorantemp69/react-test:latest npm test
  

after_sucess:
  - docker build -t gorantemp69/multi-client ./client
  - docker build -t gorantemp69/multi-nginx ./nginx
  - docker build -t gorantemp69/multi-server ./server
  - docker build -t gorantemp69/multi-worker ./worker
  #login to cli
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  #take images and push to the docker hub
  - docker push gorantemp69/multi-client
  - docker push gorantemp69/multi-nginx
  - docker push gorantemp69/multi-worker
  - docker push gorantemp69/multi-server

  


